<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="bg-success p-3 text-center text-light mb-5">
            <h1>Formulario de Contacto</h1>
        </header>
        <main class="container">
            <form th:object="${regis}" th:action="@{/guardar}" method="post">
                <div class="form-group">
                    <label for="codigo" class="col-sm-2 col-form-label">Código</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="codigo" th:field="*{codigo}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre" class="col-sm-2 col-form-label">Cliente</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="telefono" th:field="*{telefono}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="distrito" class="col-sm-2 col-form-label">Distrito</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="distrito" th:field="*{distrito}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="edad" class="col-sm-2 col-form-label">Edad</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="edad" th:field="*{edad}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>            
        </main>
    </div>
</body>
</html>